<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
              <div class="sign-up-container">
                
              </div>
              <div class="sign-in-container">
                <form action="/login" method="post">
                  <h1>Sign In</h1>
                  <div class="social-links">
                    <div>
                      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div>
                      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                    <div>
                      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <span>or use your account</span>
                  <input type="text" name="memberId" placeholder="Id">
                  <input type="password" name="memberPw" placeholder="Password">
                  <button class="form_btn" type="submit">Sign In</button>
                </form>
              </div>
              <div class="overlay-container">
                <div class="overlay-left">
                  <h1>Welcome Back</h1>
                  <p>To keep connected with us please login with your personal info</p>
                  <button id="signIn" class="overlay_btn">Sign In</button>
                </div>
                <div class="overlay-right">
                  <h1>Hello, Friend</h1>
                  <p>Enter your personal details and start journey with us</p>
                  <a href="/blog/register"> <button id="signUp" class="overlay_btn">Sign Up</button></a>
                </div>
              </div>
            </div>
          </div>
    </body>
  </html>