<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form action="/register" method="post">
                <h1>Create Account</h1>
                <span>or use your email for registration</span>
                <input type="text" name="memberId" placeholder="Id">
                <input type="password" name="memberPw" placeholder="Password">
                <input type="text" name="memberName" placeholder="Name">
                <button class="form_btn">Sign Up</button>
              </form>
        </div>
    </div>
</body>
</html>