<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/insert.css" rel="stylesheet" type="text/css">
    <title>Update Blog</title>
</head>
<body>
    <form action="/blog/update/execute" method="get">
        <div class="wrapper">
            <div class="container">
        <input type="hidden" name="seq" th:value="${seq}" />
        <h3>제목</h3>
        <input type="text" name="title" th:value="${title}" /><br/>
        <h3>내용</h3>
        <textarea name="content" class="content-box" th:text="${content}"></textarea><br/>
        <p><button type="submit">수정</button></p>
    </div>
    </div>
    </form>
</body>
</html>